* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #210368;
    width: 100%;
  }
  .user-right {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-icon {
    font-size: 18px;
    margin-left: 5px;
    color: white;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 30px;
    border-radius: 5px;
    left: 95%;

  }
  
  .dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    
  }
  .dropdown-content button:hover {
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .authName {
    color: white;
    font-weight: 500;
  }
  .greet {
    margin: 15%;
    font-size: 60px;
  }
  p span{
    color: #3a168f;
    font-weight: bold;
  }

  
  h2 {
    color: #fff;
    cursor: pointer;
  }
.navbtn {
  display: flex;

}
  .navbtn p {
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    margin: 0 20px;
  }

  
